<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>社員登録画面</title>
</head>

<body style="text-align:center; margin: 20% auto;">
    <h2 style="text-decoration: underline;">社員登録画面</h2>
    <form th:action="@{/register}" method="post">
        <table style="margin: auto; text-align: center;">
            <tr>
                <th>社員番号</th>
                <td><input type="number" name="staffcode" required></td>
            </tr>
            <tr>
                <th>名前</th>
                <td><input type="text" name="ename" required></td>
            </tr>
            <tr>
                <th>役職</th>
                <td><input type="text" name="position" required></td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td><input type="password" name="password" maxlength="25" required></td>
            </tr>
        </table>
        <p><button type="submit">登録</button></p>
    </form>
	<div th:if="${errorMessage}" style="color: red;">
	  <p th:text="${errorMessage}"></p>
	</div>
</body>

</html>